.index{ 
background-repeat: no-repeat  ;
background-size: cover;
background-image:url("https://media.istockphoto.com/id/1191995863/photo/old-wall-texture-cement-dark-black-gray-background-abstract-grey-color-design-are-light-with.webp?b=1&s=170667a&w=0&k=20&c=BuY07Ovf_ffL73OKZNi0VYGRbhZncDfUg8Jn0fBChEo=")
}
.info{
    width: 20%;
}
